body {
    font-family: Arial, sans-serif;
}
.table {
    width: 50%;
    border-collapse: collapse;
    margin: auto;
}

th, h1, td{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    vertical-align: middle;
}
